<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="2vh">
  <mat-toolbar color="primary">
    <span>Estacionamiento ceiba</span>
  </mat-toolbar>

  <div
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxLayout.gt-sm="row wrap"
    fxLayoutAlign.gt-sm="center stretch"
    fxLayoutGap="2% grid"
    class="contenedor-estacionamiento"
  >
    <app-lista-vehiculos
      fxFlex="0 1 60"
      [vehiculos]="vehiculosIngresados"
      (retirarVehiculo)="retirarVehiculo($event)"
    ></app-lista-vehiculos>
    <app-formulario-ingreso
      fxFlex
      (ingresarVehiculo)="ingresarVehiculo($event)"
    ></app-formulario-ingreso>
    <app-vehiculo-retirado
      fxFlex="0 1 60"
      [vehiculoRetirado]="vehiculoRetirado"
    ></app-vehiculo-retirado>
  </div>
</div>
